<html>
<head>
	<title></title>
<!-- 	<link rel="stylesheet" src="/bower_components/carousel-3d/dist/styles/jquery.carousel-3d.default.css" /> -->


</head>
<body>

	<h1>Welcome  <%= user %> </h1>


	<form action='/topic' method=POST>
		<input type='submit' value='New Topic' />
	</form>

	<form action='/topic/search/<%= user %>' method=POST>
		<input type = 'text' name='title' placeholder='search'>
	</form>

	

		<% for (var i=0; i < list.length; i++ ){ %>
			<a href='/comment/<%=list[i]._id%>'>
			<!-- <a href='/comment'> -->
			<li> <%= list[i].title %>  <%= list[i].comments.length %> comments</li>
			</a>
		<%} %>




<!-- <script data-main = 'config' src="../require.js"></script> -->
<!-- <script type="text/javascript" src='./public/js/carousel.js'></script> -->
<!-- <div id="wrapper">
    	<div id="myCarousel" data-carousel-3d > -->

	<!-- 	</div>
	</div> -->

<!-- <script src="https://code.jquery.com/jquery-3.0.0.min.js" integrity="sha256-JmvOoLtYsmqlsWxa7mDSLMwa6dZ9rrIdtrrVYRnDRH0=" crossorigin="anonymous"></script>
<script type="text/javascript" src='http://requirejs.org/docs/release/2.2.0/minified/require.js'></script>
<script src="/bower_components/javascript-detect-element-resize/jquery.resize.js"></script>
<script src="/bower_components/waitForImages/dist/jquery.waitforimages.js"></script>
<script src="/bower_components/modernizr/modernizr.js"></script>
<script src="/bower_compenents/carousel-3d/dist/jquery.carousel-3d.js" ></script> -->

</body>
</html>